.container {
  padding: 0.5rem 1rem;
}

.context {
  max-width: 1440px;
  padding: 1rem 1rem 0 1rem;
  margin-inline: auto;
  border-bottom: 0.5px solid gray;
}

.context h1 {
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 600;
}
